html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contain {
    min-height: 500px;
    width: 100%;
    padding-bottom: 70px;
    padding-top: 50px;
}

.contain h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contain-header{
    width: 85%;
    height: 40px;
    box-sizing: content-box;
    padding: 5px;
    background-color: #87797717;
    display: flex;
    justify-content: flex-end;
    margin-left:auto ;
    margin-right: auto;
   
}
.plus_food {
    display: inline-block;
    margin-right: 20px;
}

.plus_food--btn {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    font-size: 20px; /* Font size */
    padding: 10px; /* Padding around the icon */
    border: none; /* Remove button border */
    border-radius: 20%; /* Make it circular */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.plus_food--btn:hover {
    background-color: #45a049; /* Darker green color on hover */
    transition: background-color 0.3s; /* Smooth transition */
}



/* ***************************plus_food ********************************/

/* Style the table */
.table-style {
    width: 85%; /* Set the table width to 80% of the viewport width */
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;

}
.table-style th{
    font-size: 22px;
    background-color: rgb(86, 227, 95);
    padding: 10px;
}


.table-style td {
    border: 1px solid #ddd;
    /* text-align: left; */
    padding: 1%;
  
}

/* Style the checkbox in the table header */
.checkall {
    margin-left: 5px;
}

/* Style the delete link */
.delete_single, .deleteall {
    color: #e74c3c;
    text-decoration: none;
    cursor: pointer;
}

/*************************** form dang nhap ************************* */

.login-form-container {
    display: none;
    width: 50%;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10PX;

    border: 1px solid rgb(100, 100, 100);
 
}

/* Form */
/* .login-form {
    display: flex;
    flex-direction: column;
} */

/* Label */
.login-form span {
    display: inline-block;
    width: 100px; /* Đảm bảo rằng tất cả các nhãn (labels) có cùng kích thước */
    font-weight: bold;
}
/* Input fields */
.login-form input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 150px);
}

.login-form select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 150px);
}

/* Button */
.login-form button {
    padding: 10px 10px;
    background-color: #78e94fd9;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 20%;
   
}

/* Button hover effect */
.login-form button:hover {
    background-color: #0056b3;
}

.login-form {
    text-align: center;
}

.plus_food--btn {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}



/* ###########################ten file####################################### */

/* Ẩn trường nhập file */
.file-upload {
    display: none;
  }
  

  .file-label {
    /* background-color: rgb(4, 197, 17);
    color: #ffffff; */
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #45a049;
  }
  
  .file-label:hover {
    cursor: pointer;
    background-color: rgb(4, 197, 17);
    color: #ffffff;
    
  }
  /* Tùy chỉnh giao diện khi được chọn */




/* ###########################ten file####################################### */
td {

    text-align: center;
    
  }
td input {
    border: none;
    font-size: 15px;
    width: 100%;
    text-align: center;
    cursor: auto;
}
.Category-input{
    font-size:15px;
}

.Freeship-input{
    font-size:15px;;
}


td button {
        font-size: 13px;
        width: 30px;
        background-color: rgb(0, 224, 15);
}
@media screen and (max-width: 440px) {
    td input {
        font-size: 6px;
   
    }
    
    .table-style th{
        font-size:8px;
    
    }

    .Category-input{
        font-size:6px;
    }

    .Freeship-input{
        font-size:6px;
    }

    td button {
        font-size: 6px;
        width: 30px;
    }
  }
button {
    /* Thiết lập các thuộc tính chung của nút */
    padding: 5px;
    width: 40px;
    background-color: #4CAF50; /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button i {
    
    margin-right: 5px; /* Khoảng cách giữa nút và biểu tượng */
}

/* Khi nút được di chuột qua */
button:hover {
    background-color: #45a049; /* Màu nền xanh lá cây sáng hơn */
}







